@import '../assests.css';

.status {
    width: 100vw;
    min-height: 100vh;
    padding: 10vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    font: var(--font-aside);
    color: var(--colour-white);
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    overflow-y: auto;
    z-index: 1000;
}

.status__spinner {
     width: 30%;
}

.status__options {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.status__options__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    color: var(--colour-white);
    border: 1px solid var(--colour-white);
    border-radius: 10px;
    font-family: var(--font-links);
    letter-spacing: 0.102em;
    text-shadow: 1px 1px 1px var(--colour-blue);
    font-size: 14px;
    width: 260px;
    height: 60px;
}

.status__dots {
    opacity: 0.5;
    animation: 2s linear infinite forwards dot-animation;
}

.no-spin .status__dots {
    animation: none;
    display: none;
}

.status__dots--2 {
    animation-delay: 0.66s;
}
.status__dots--3 {
    animation-delay: 1.22s;
}


@keyframes dot-animation {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    34% {
        opacity: 0.5;
    }
}