.status {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    font: normal 300 18px nazare, sans-serif;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1000;
}

.status__spinner {
     width: 50vh;
}

.status__options {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.status__options__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: normal 700 12px delve-hand, cursive, sans-serif;
    letter-spacing: 0.102em;
    text-shadow: 1px 1px 1px#6698CC;
    font-size: 14px;
    width: 260px;
    height: 60px;
}

.status__dots {
    opacity: 0.5;
    animation: 2s linear infinite forwards dot-animation;
}

.no-spin .status__dots {
    animation: none;
    display: none;
}

.status__dots--2 {
    animation-delay: 0.66s;
}
.status__dots--3 {
    animation-delay: 1.22s;
}


@keyframes dot-animation {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    34% {
        opacity: 0.5;
    }
}