@import '../assests.css';

.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
}

.modal__box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding-bottom: 16px;
}
.modal__box__content {
    max-width: 100%;
    max-height: 100%;
    color: var(--colour-white);
    overflow: auto;
}
.modal__box__exit {
    font-size: 18px;
    padding-right: 16px;
    padding-top: 8px;
    align-self: flex-end;
    color: var(--colour-white);
    cursor: pointer;
    z-index: 200;
}