.captcha {
    width: 100vw;
    padding-top: 32px;
    box-sizing: border-box;
    position: absolute;
    padding-bottom: 50vh;
    top: 0;
    left: 0;
    font: normal 300 14px nazare, sans-serif;
    color: #ffffff;
    background: rgba(0,0,0,0.8);
    display: grid;
    place-items: center center;
    overflow-y: auto;
    z-index: 1000;
}

.captcha__challenge {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.captcha__challenge__refresh {
    cursor: pointer;
    display: inline-grid;
    place-items: center center;
    width: 150px;
    margin: 8px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: normal 700 12px delve-hand, cursive, sans-serif;
    text-shadow: 1px 1px 1px #6698CC;
    font-size: 14px;
    padding: 0px 8px;
}

.captcha__submit {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: normal 700 12px delve-hand, cursive, sans-serif;
    letter-spacing: 0.102em;
    text-shadow: 1px 1px 1px #6698CC;
    font-size: 14px;
    width: 260px;
    height: 60px;
}

.captcha__info {
    text-align: center;
    width: 250px;
}
