@import '../assests.css';

.send-direct {
    width: 100vw;
    min-height: 100vh;
    padding: 10vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    font: var(--font-answers);
    color: var(--colour-white);
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1000;
}

.send-direct__info {
    width: 80%;
}

.send-direct__data {
    background: rgba(255,255,255,0.2);
    padding: 16px;
    margin: 16px;
    width: 80%;
    word-break: break-all;
    display: flex; 
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-content: space-between;
}

.send-direct__data__copy {
    display: inline-grid;
    place-items: center center;
    width: 50px;
    margin: 8px;
    color: var(--colour-white);
    border: 1px solid var(--colour-white);
    border-radius: 10px;
    text-shadow: 1px 1px 1px var(--colour-blue);
    font-size: 14px;
    padding: 0px 8px;
}

.send-direct__data__text {
    padding: 8px;
    min-width: calc(80% - 50px);
    min-height: 50px;
}

.send-direct__data__email {
    display: inline-grid;
    place-items: center center;
    width: 100%;
    margin: 8px;
    border: 1px solid var(--colour-white);
    border-radius: 10px;
    text-shadow: 1px 1px 1px var(--colour-blue);
    background: rgba(0,0,0,0.8);
    font-size: 18px;
    padding: 0px 8px;
}
.send-direct__data__email>a {
    color: var(--colour-white);
    padding: 12px;
}