@import 'assests.css';

.App {
  opacity: 0;
  min-height: 100vh;
  max-width: 100vw;
  transition: opacity 1s;
}

.App-loaded {
  opacity: 1;
}

.image {
  position: relative;
  overflow: hidden;
  background: rgba(180, 180, 180, 0.377) url('./Views/images/spinner.gif') no-repeat center;
}

.required {
  outline: red solid 3px;
  transition: transform 500ms ease-in;
  transform: scale(1.025);
}

.page-fade-enter {
  min-height: 100vh;
  opacity: 0;
  z-index: 1;
}

.page-fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.page-fade-exit {
  min-height: 100vh;
  opacity: 1;
  z-index: 1;
} 

.page-fade-exit-active {
  opacity: 0;
  transition: opacity 750ms ease-in;
} 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font: var(--font-aside);
}

li {
  margin: 1em 0;
  display: flex;
  justify-content: flex-end;
}

li:after {
  content: '';
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  background: var(--colour-blue);
  border-radius: 10px;
  margin: 8px 0 0 5px;
}